
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>thongbaoquenmatkhau</title>
</head>
<body>
    <p>reset complete! please check your email.</p>
</body>
</html>
